In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import variable

In [2]:
movies=pd.read_csv(r'C:/Users/Armaan/OneDrive/Desktop/Workspace/Machine_Learning/Datasets/movieRecommendation/movies.dat', sep='::',header=None,engine="python",encoding='latin-1')
users=pd.read_csv(r'C:/Users/Armaan/OneDrive/Desktop/Workspace/Machine_Learning/Datasets/movieRecommendation/users.dat', sep='::',header=None,engine="python",encoding='latin-1')
ratings=pd.read_csv(r'C:/Users/Armaan/OneDrive/Desktop/Workspace/Machine_Learning/Datasets/movieRecommendation/ratings.dat', sep='::',header=None,engine="python",encoding='latin-1')

In [3]:
movies.tail()

         0                           1               2
3878  3948     Meet the Parents (2000)          Comedy
3879  3949  Requiem for a Dream (2000)           Drama
3880  3950            Tigerland (2000)           Drama
3881  3951     Two Family House (2000)           Drama
3882  3952       Contender, The (2000)  Drama|Thriller

In [4]:
users.tail()

         0  1   2   3      4
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

In [5]:
ratings

            0     1  2          3
0           1  1193  5  978300760
1           1   661  3  978302109
2           1   914  3  978301968
3           1  3408  4  978300275
4           1  2355  5  978824291
...       ...   ... ..        ...
1000204  6040  1091  1  956716541
1000205  6040  1094  5  956704887
1000206  6040   562  5  956704746
1000207  6040  1096  4  956715648
1000208  6040  1097  4  956715569

[1000209 rows x 4 columns]

In [52]:
training_set=pd.read_csv(r'C:/Users/Armaan/OneDrive/Desktop/Workspace/Machine_Learning/Datasets/movieRecommendation/ml-100k/u1.base',delimiter="\t")
test_set=pd.read_csv(r'C:/Users/Armaan/OneDrive/Desktop/Workspace/Machine_Learning/Datasets/movieRecommendation/ml-100k/u1.test',delimiter="\t")

In [53]:
training_set=np.array(training_set,dtype="int")
test_set=np.array(test_set,dtype="int")

In [54]:
n_users=int(max(training_set[:,0].max(),test_set[:,0].max()))
n_movies=int(max(training_set[:,1].max(),test_set[:,1].max()))
n_users,n_movies

(943, 1682)

In [57]:
training_set=torch.FloatTensor(training_set)
test_set=torch.FloatTensor(test_set)

In [58]:
training_set.shape

torch.Size([943, 1682])

In [59]:
class SAE(nn.Module): #stacked auto encoders
    def __init__(self,):
        super(SAE,self).__init__()
        nb_movies=1682
        self.fc1=nn.Linear(nb_movies,20)    # full connection 1
        self.fc2=nn.Linear(20,10)
        self.fc3=nn.Linear(10,20)
        self.fc4=nn.Linear(20,nb_movies)
        self.activation=nn.Sigmoid()
    def forward(self,x):
         x=self.activation(self.fc1(x))
         x=self.activation(self.fc2(x))
         x=self.activation(self.fc3(x))
         x=self.fc4(x)
         return x

In [60]:
sae=SAE()
criterion=nn.MSELoss()
optimizer=optim.RMSprop(sae.parameters(),lr=0.01,weight_decay=0.5)

In [78]:
epochs=200
for epoch in range(1,epochs+1):
    train_loss=0
    s=0.
    for id_user in range(n_users):
        input=training_set[id_user][np.newaxis,:]
        target=input.clone()
        if torch.sum(target.data>0)>0:
            output=sae(input)
            target.require_grad=False #to make sure gradient is not computed wrt target, saves lot of computation, optimizes code
            output[target==0]=0 
            loss=criterion(output,target)
            mean_corrector=n_movies/float(torch.sum(target.data>0)+1e-10)
            loss.backward()
            train_loss+=np.sqrt(loss.data*mean_corrector)
            s+=1.
            optimizer.step()
    print("Epoch:"+str(epoch)+", train_loss:"+str(train_loss.numpy()/s))

Epoch:1, train_loss:1.0188570801299046
Epoch:2, train_loss:1.0184593483853062
Epoch:3, train_loss:1.0179813583228394
Epoch:4, train_loss:1.0175605846740787
Epoch:5, train_loss:1.0173636281730514
Epoch:6, train_loss:1.0168912691377254
Epoch:7, train_loss:1.016621627079467
Epoch:8, train_loss:1.0166316593692006
Epoch:9, train_loss:1.0163053834172853
Epoch:10, train_loss:1.016465964777472
Epoch:11, train_loss:1.0159745120294275
Epoch:12, train_loss:1.0160448027820121
Epoch:13, train_loss:1.0158894641022667
Epoch:14, train_loss:1.0157585912645812
Epoch:15, train_loss:1.015617168341563
Epoch:16, train_loss:1.0155244182048648
Epoch:17, train_loss:1.0153188533520017
Epoch:18, train_loss:1.0147980157037049
Epoch:19, train_loss:1.012555507688229
Epoch:20, train_loss:1.011510531444691
Epoch:21, train_loss:1.0088172823601538
Epoch:22, train_loss:1.0090561155802624
Epoch:23, train_loss:1.0051153027240192
Epoch:24, train_loss:1.004396343534597
Epoch:25, train_loss:1.0002776678900451
Epoch:26, train_loss:0.9996453100145811
Epoch:27, train_loss:0.9961736199711692
Epoch:28, train_loss:0.9954774437881098
Epoch:29, train_loss:0.9939349954226869
Epoch:30, train_loss:0.9930150020918942
Epoch:31, train_loss:0.9883696635985552
Epoch:32, train_loss:0.9875936821687765
Epoch:33, train_loss:0.9857867697010869
Epoch:34, train_loss:0.9878949744830329
Epoch:35, train_loss:0.9833326774589077
Epoch:36, train_loss:0.9823812927699165
Epoch:37, train_loss:0.9789124506022998
Epoch:38, train_loss:0.9775255998144221
Epoch:39, train_loss:0.9743088593791424
Epoch:40, train_loss:0.9702390506942603
Epoch:41, train_loss:0.9710464234822376
Epoch:42, train_loss:0.9751735133052757
Epoch:43, train_loss:0.9702296656490257
Epoch:44, train_loss:0.9697956882124867
Epoch:45, train_loss:0.9749312496893227
Epoch:46, train_loss:0.9805295909829003
Epoch:47, train_loss:0.9718794918768227
Epoch:48, train_loss:0.9697570477159001
Epoch:49, train_loss:0.9639089994946315
Epoch:50, train_loss:0.9650028426978393
Epoch:51, train_loss:0.9608415136408073
Epoch:52, train_loss:0.958716415777439
Epoch:53, train_loss:0.9587254772004242
Epoch:54, train_loss:0.9556000629639448
Epoch:55, train_loss:0.9561243310080859
Epoch:56, train_loss:0.963076125273396
Epoch:57, train_loss:0.9572094364105581
Epoch:58, train_loss:0.9593560227912911
Epoch:59, train_loss:0.9649298335183589
Epoch:60, train_loss:0.9646110656026312
Epoch:61, train_loss:0.9578382344412778
Epoch:62, train_loss:0.9513499319616583
Epoch:63, train_loss:0.950938155011433
Epoch:64, train_loss:0.9507543375737341
Epoch:65, train_loss:0.9535425374262659
Epoch:66, train_loss:0.9595077369018425
Epoch:67, train_loss:0.9578322150674377
Epoch:68, train_loss:0.9571684011093253
Epoch:69, train_loss:0.9534895928262527
Epoch:70, train_loss:0.9551642085183589
Epoch:71, train_loss:0.9514911607113269
Epoch:72, train_loss:0.9536730219172521
Epoch:73, train_loss:0.9482775270496421
Epoch:74, train_loss:0.9499717542500663
Epoch:75, train_loss:0.9462845965129573
Epoch:76, train_loss:0.9472078260662447
Epoch:77, train_loss:0.9481537739014448
Epoch:78, train_loss:0.9524724480961692
Epoch:79, train_loss:0.9465845296137659
Epoch:80, train_loss:0.9463602593948833
Epoch:81, train_loss:0.9436489521888256
Epoch:82, train_loss:0.9445973595531217
Epoch:83, train_loss:0.940465091774092
Epoch:84, train_loss:0.9430846197102002
Epoch:85, train_loss:0.9406300096724218
Epoch:86, train_loss:0.9407033424741517
Epoch:87, train_loss:0.9380547532600411
Epoch:88, train_loss:0.9401176509270612
Epoch:89, train_loss:0.9356640262543081
Epoch:90, train_loss:0.9366719153880567
Epoch:91, train_loss:0.9339540710125597
Epoch:92, train_loss:0.9346494057777704
Epoch:93, train_loss:0.9329470232966596
Epoch:94, train_loss:0.9334168580784398
Epoch:95, train_loss:0.9323116880965006
Epoch:96, train_loss:0.9328600336360021
Epoch:97, train_loss:0.9312851583211824
Epoch:98, train_loss:0.9312311781299708
Epoch:99, train_loss:0.9302216708849748
Epoch:100, train_loss:0.9306786902256761
Epoch:101, train_loss:0.9296511248591596
Epoch:102, train_loss:0.9355454510621023
Epoch:103, train_loss:0.9318528564712023
Epoch:104, train_loss:0.9315790073237009
Epoch:105, train_loss:0.9310782989793213
Epoch:106, train_loss:0.9332597071140973
Epoch:107, train_loss:0.9292299628636996
Epoch:108, train_loss:0.9297312537281283
Epoch:109, train_loss:0.9279702308954135
Epoch:110, train_loss:0.9283556002700822
Epoch:111, train_loss:0.9276935985965669
Epoch:112, train_loss:0.9282737885654162
Epoch:113, train_loss:0.9270147038416291
Epoch:114, train_loss:0.9287631054066146
Epoch:115, train_loss:0.9284456967043345
Epoch:116, train_loss:0.9290891224607304
Epoch:117, train_loss:0.932481071981873
Epoch:118, train_loss:0.9315447033652572
Epoch:119, train_loss:0.9289524244225543
Epoch:120, train_loss:0.9287990922007555
Epoch:121, train_loss:0.9277220773545202
Epoch:122, train_loss:0.9286001939662314
Epoch:123, train_loss:0.9271654470854321
Epoch:124, train_loss:0.9267607251002452
Epoch:125, train_loss:0.9257818325200491
Epoch:126, train_loss:0.9255185334578805
Epoch:127, train_loss:0.9246369217258749
Epoch:128, train_loss:0.9250157539311041
Epoch:129, train_loss:0.9240255992966264
Epoch:130, train_loss:0.923071949251889
Epoch:131, train_loss:0.9227469030645215
Epoch:132, train_loss:0.9220098210291291
Epoch:133, train_loss:0.9227244436804083
Epoch:134, train_loss:0.92210697242842
Epoch:135, train_loss:0.9216490469454202
Epoch:136, train_loss:0.9214506017820453
Epoch:137, train_loss:0.9211609598687699
Epoch:138, train_loss:0.9212717681269883
Epoch:139, train_loss:0.9205220000994168
Epoch:140, train_loss:0.9233506527331323
Epoch:141, train_loss:0.9246466951178088
Epoch:142, train_loss:0.9200521653176366
Epoch:143, train_loss:0.9199207099599019
Epoch:144, train_loss:0.9197532030835763
Epoch:145, train_loss:0.9189913963083245
Epoch:146, train_loss:0.9193306171502187
Epoch:147, train_loss:0.9190181922305806
Epoch:148, train_loss:0.9179180060312832
Epoch:149, train_loss:0.9180880371611546
Epoch:150, train_loss:0.9183258347900649
Epoch:151, train_loss:0.9171249373467325
Epoch:152, train_loss:0.9180099147501326
Epoch:153, train_loss:0.9171294033337752
Epoch:154, train_loss:0.9174483654228526
Epoch:155, train_loss:0.9165613168370559
Epoch:156, train_loss:0.9168606026933656
Epoch:157, train_loss:0.9168529004838282
Epoch:158, train_loss:0.9167799560287977
Epoch:159, train_loss:0.9160068224748145
Epoch:160, train_loss:0.9157736202818465
Epoch:161, train_loss:0.9154378945602466
Epoch:162, train_loss:0.9154984766453473
Epoch:163, train_loss:0.9157215818241318
Epoch:164, train_loss:0.9158421634742842
Epoch:165, train_loss:0.91618656227217
Epoch:166, train_loss:0.9159714829251723
Epoch:167, train_loss:0.9152859862763454
Epoch:168, train_loss:0.915363720340668
Epoch:169, train_loss:0.9151032044298449
Epoch:170, train_loss:0.9154956287695519
Epoch:171, train_loss:0.9139936331853128
Epoch:172, train_loss:0.9139099444715999
Epoch:173, train_loss:0.9132509201227796
Epoch:174, train_loss:0.9136100113707913
Epoch:175, train_loss:0.9124507317487407
Epoch:176, train_loss:0.9130795945039104
Epoch:177, train_loss:0.9129800482999735
Epoch:178, train_loss:0.9128578485385737
Epoch:179, train_loss:0.9122309275169008
Epoch:180, train_loss:0.9119148133036188
Epoch:181, train_loss:0.9108771509229189
Epoch:182, train_loss:0.9112281516146938
Epoch:183, train_loss:0.9103589669770679
Epoch:184, train_loss:0.9100828524738203
Epoch:185, train_loss:0.909823566327545
Epoch:186, train_loss:0.9098038253703274
Epoch:187, train_loss:0.9090822772029096
Epoch:188, train_loss:0.9091543802400914
Epoch:189, train_loss:0.9082332865936505
Epoch:190, train_loss:0.9079338712884412
Epoch:191, train_loss:0.9075802168942205
Epoch:192, train_loss:0.9079479164940681
Epoch:193, train_loss:0.9067717437905952
Epoch:194, train_loss:0.9073251378371885
Epoch:195, train_loss:0.9059935617295202
Epoch:196, train_loss:0.9057631426878977
Epoch:197, train_loss:0.9052224346334835
Epoch:198, train_loss:0.9048331817918213
Epoch:199, train_loss:0.9039003730199496
Epoch:200, train_loss:0.9038764896979388

In [38]:
a=np.array([1,2,4])
a[:,np.newaxis]

array([[1],
       [2],
       [4]])

In [83]:
test_loss=0
s=0.
for id_user in range(n_users):
    input=training_set[id_user][np.newaxis,:]
    target=test_set[id_user][np.newaxis,:]
    if torch.sum(target.data>0)>0:
        output=sae(input)
        target.requires_grad=False
        output[target==0]=0
        loss=criterion(output,target)
        mean_corrector=n_movies/float(torch.sum(target.data>0)+1e-10)
        test_loss+=np.sqrt(loss.data*mean_corrector)
        s+=1.
print("test_loss:"+str(test_loss.numpy()/s))

test_loss:0.9566399069393382