In [17]:
import netCDF4 as nc
import numpy as np
import pandas as pd

In [18]:
ds=nc.Dataset('C:/Users/Armaan/Downloads/1981_Jan.nc')

In [19]:
type(ds)

netCDF4._netCDF4.Dataset

In [20]:
var=ds.variables.keys()

In [21]:
var=list(var)

In [22]:
var

['longitude',
 'latitude',
 'time',
 'u10',
 'v10',
 'hmax',
 'mwd',
 'mwp',
 'wmb',
 'pp1d',
 'swh',
 'shts',
 'shww']

In [24]:
ds[var[0]]

<class 'netCDF4._netCDF4.Variable'>
float32 longitude(longitude)
    units: degrees_east
    long_name: longitude
unlimited dimensions:
current shape = (57,)
filling on, default _FillValue of 9.969209968386869e+36 used

In [25]:
len(var)

13

In [26]:
k=ds.variables['longitude'][:]
type(k)

numpy.ma.core.MaskedArray

In [27]:
print(ds.variables[var[3]][5].mean())

-0.21855313751228106

In [28]:
data=[]
for i in range(len(var)):
    arr=[]
    print(var[i])
    for j in range(36):
        k=ds.variables[var[i]][j].mean()
        arr.append(k)
    data.append(arr)

longitude
latitude
time
u10
v10
hmax
mwd
mwp
wmb
pp1d
swh
shts
shww

In [29]:
data=np.array(data)
data.shape

(13, 36)

In [ ]:
len(data[5])

In [ ]:
k=data[0]
dataframe=pd.DataFrame(k,columns=[var[0]])

In [ ]:
print(var[3])

In [ ]:
for i in range(13):
    k=data[i]
    dataframe[var[i]]=k

In [ ]:
dataframe

In [ ]:
dataframe.to_csv('C:/Users/Armaan/Downloads/1981_Jan.csv')